#riv2ssekEndpoint=https://0.0.0.0:9005/riv2ssek
riv2ssekEndpoint=http://0.0.0.0:9005/riv2ssek

keyStoreParameters.resource=certs/tp.jks
keyStoreParameters.type=jks
keyStoreParameters.password=password

trustStoreParameters.resource=certs/truststore.jks
trustStoreParameters.type=jks
trustStoreParameters.password=password
