
rivInBridgeEndpoint=servlet://
rivInBridgePathPrefix=/riv
shsInBridgeEndpoint=direct-vm:shs2riv

rsEndpoint=direct-vm:shs:rs


#keyStoreParameters.resource=certs/axel-test-server.p12
#keyStoreParameters.type=pkcs12
#keyStoreParameters.password=password
keyStoreParameters.resource=certs/tp.jks
keyStoreParameters.type=jks
keyStoreParameters.password=password

trustStoreParameters.resource=certs/truststore.jks
trustStoreParameters.type=jks
trustStoreParameters.password=password
